img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;
  max-width: 100%;

  &.--center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
}

strong {
  font-family: pb;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

//Textbox component
.textbox {
  position: relative;

  .heading {
    margin-bottom: 16px;
  }

  &.--icon {
    margin-bottom: 29px;

    .heading {
      margin-bottom: 28px;
    }

    .desc {
      max-width: 440px;
    }

    @include xs {
      .desc {
        margin-bottom: 18px;
        max-width: 100%;
      }
    }

    @include xs {
      .heading {
        margin-bottom: 16px;
      }

      .desc {
        margin-bottom: 15px;
      }
    }
  }

  &__icons {
    display: grid;
    gap: 17px;

    &-detail {
      display: flex;
      align-items: center;
      gap: 17px;
    }
  }

  &.--post {
    background-color: var(--navi-cl);
    padding: 42px 24px 36px 24px;
    display: grid;

    .--bloghero {
      font-size: var(--fs-postmain);
      line-height: var(--lh-postmain);
      letter-spacing: var(--ls-postmain);
    }

    .desc {
      max-height: 97px;
      margin-bottom: 40px;
      @include dots(3);
    }

    .user__info {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 38px;

      &-detail {
        p {
          line-height: initial;
        }
      }
    }
  }

  @include md {
    .desc {
      // max-width: 75%;
    }
  }

  @include xs {
    .desc {
      // max-width: 330px;
    }
  }
}

.heading {
  color: var(--white-cl);

  &.--h1 {
    font-family: sb;
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    letter-spacing: var(--ls-h1);
  }

  &.--h2 {
    font-family: sb;
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    letter-spacing: var(--ls-h2);
  }

  &.--pr {
    font-family: sb;
    font-size: var(--fs-pr);
    line-height: var(--lh-pr);
    letter-spacing: var(--ls-pr);
  }

  &.--posth3 {
    font-family: sb;
    font-size: var(--fs-posth3);
    line-height: var(--lh-posth3);
    letter-spacing: var(--ls-posth3);
  }

  @include sm {

    &.--yellow-left::before,
    &.--yellow-right::before {
      display: none;
    }
  }
}

// Button Learn More

.--hiden {
  display: none;

  @include sm {
    display: block;
    float: right;
  }
}

.--active {
  color: var(--white-cl);
  background: var(--darkYellow-cl);
}

.loading {
  position: fixed;
  z-index: 9;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  background: var(--black-cl);
  @include disflex;
  @include transistion;
  transform: translateX(0);
  flex-direction: column;
  gap: 16px;

  &__bar {
    position: relative;
    background: var(--white-cl);
    width: 160px;
    height: 4px;
    // animation: showLoadingBar 0.6s;
    @include transistion;

    &-inside {
      background: var(--darkYellow-cl);
      height: 4px;
      animation: loadingScreen 4s;
      border-radius: 100%;
      @include transistion;
    }
  }

  &__percent {
    color: white;
    @include centerAbs;
    z-index: 3;
    top: 20px;
    @include transistion;
    // left: 30px;
    // animation: logoSlide 4s;
  }

  &.--hiden {
    opacity: 0;
    visibility: hidden;
  }
}

.--tm {
  font-family: sr;
  font-size: var(--fs-textmenu);
  line-height: var(--lh-textmenu);
  letter-spacing: var(--ls-textmenu);
  color: var(--white-cl);
  text-transform: uppercase;

  a {
    color: var(--white-cl);
  }
}

.--lb {
  font-family: sb;
  font-size: var(--fs-lb);
  line-height: var(--lh-lb);
  letter-spacing: var(--ls-lb);
  color: var(--white-cl);
  text-transform: uppercase;
}

.--tb {
  font-family: sb;
  font-size: var(--fs-tb);
  line-height: var(--lh-tb);
  color: var(--white-cl);
  text-transform: uppercase;
  letter-spacing: var(--ls-tb);
}

.--body1 {
  font-family: sr;
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
  letter-spacing: var(--ls-b1);
  color: var(--white-cl);
}

.--body2 {
  font-family: sr;
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
  color: var(--white-cl);
  letter-spacing: var(--ls-b2);
}

.--ip {
  font-family: sb;
  font-size: var(--fs-ip);
  line-height: var(--lh-ip);
  color: var(--white-cl);
  margin-bottom: 14px;

  @include xs {
    font-size: var(--fs-ip);
    line-height: var(--lh-ip);
    text-transform: uppercase;
    letter-spacing: var(--ls-ip);
    color: var(--white-cl);
  }
}

.--author {
  color: var(--white-cl);
  font-family: sb;
  text-transform: uppercase;
  font-size: var(--fs-author);
  line-height: var(--lh-author);
  letter-spacing: var(--ls-author);
}

.--tag {
  width: fit-content;
  font-family: sr;
  font-size: var(--fs-texttag);
  color: var(--white-cl);
  line-height: var(--lh-texttag);
  letter-spacing: var(--ls-texttag);
}

.--posttitle {
  font-family: sb;
  font-size: var(--fs-posttitle);
  line-height: var(--lh-posttitle);
  @include transistion;
}

.--coin {
  font-family: sb;
  font-size: var(--fs-coin);
  line-height: var(--lh-coin);
  letter-spacing: var(--ls-coin);
  color: var(--white-cl);
}

.--tag-coin {
  padding: 8px 10px;
  background-color: var(--navi-cl);
  width: fit-content;
  border-radius: 1000px;
}

.--downloadbtn {
  height: var(--downloadbtn-height);
  background: var(--sky-cl);
  border-radius: 80px;
  @include disflex;
  @include transistion;
  cursor: pointer;

  a {
    color: var(--white-cl);
  }

  &:hover {
    background-color: var(--hover-btn);
  }
}

.link {
  text-decoration: underline;
  color: var(--white-cl);
}

.--mainbtn {
  background-color: var(--sky-cl);
  @include disflex;
  height: var(--button-height);
  padding: 27px 23px;
  border-radius: var(--button-border);
  gap: 8px;
  @include transistion;
  width: fit-content;

  &.--contactbtn {
    width: 100%;
  }

  &:hover {
    background-color: var(--hover-btn);
  }

  @include xs {
    width: 100%;
  }

  &.--white-cl {
    background-color: var(--white-cl);
    color: var(--sky-cl);
    @include transistion;

    &:hover {
      background-color: var(--hover-btn);
      color: var(--white-cl);
    }
  }
}

.--social-icon {
  background-color: rgba(255, 255, 255, 0.5);
  height: 36px;
  border-radius: 100%;
  width: 36px;
  @include disflex;
  @include transistion;

  svg {
    path {
      @include transistion;
    }
  }

  &:hover {
    outline: 1px solid var(--sky-cl);

    svg {
      path {
        fill: var(--sky-cl);
      }
    }
  }
}

.infobox {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--infobox-border);

  .infobox__icon {
    margin-bottom: 20px;
  }

  .--lb {
    margin-bottom: 7px;
  }

  .desc {
    max-width: 279px;

    @include xs {
      max-width: 274px;
    }

    &.--max-w {
      max-width: 443px;
      margin-bottom: 32px;

      @include xs {
        max-width: 100%;
      }
    }
  }

  &.--navi-cl {
    background-color: var(--navi-cl);
  }

  &.--sky-cl {
    background: var(--sky-cl);
  }

  &.--iphone {
    @include disbet;
    flex-direction: column;
    padding: 44px 41px 0 41px;

    .heading {
      margin-bottom: 16px;
    }

    //Done for mobile
    @include xs {
      .--ip {
        margin-bottom: 22px;
      }

      .desc {
        margin-bottom: 25px;

        @include md {
          max-width: 80%;
        }

        @include xs {
          max-width: 100%;
        }
      }

      padding: 44px 33px 0 33px;
    }
  }

  &.--info {
    padding: 48px 23px;

    //Done for mobile
    @include xs {
      width: initial;
      padding: 48px 0 48px 23px;

      .desc {
        max-width: 259px;
      }
    }
  }
}

.company__group {
  width: 100%;
  @include disbet;

  @include md {
    .company {
      height: 23px;
    }
  }

  @include xs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;

    .company {
      height: 19px;
      @include disflex;

      @include sm {
        &:last-child {
          display: flex;
          width: 100%;
          justify-content: center;
          grid-column: 1 / span 2;
        }
      }
    }
  }
}

.infobox__content-iphone {
  .--lb {
    margin-bottom: 22px;
  }
}

.user__info {
  display: flex;
  align-items: center;
  gap: 22px;

  img {
    border-radius: 100%;
    height: 58px;
    width: 58px;
    @include disflex;
  }
}

.pagination {
  display: flex;
  gap: 14px;
  width: 100%;
  justify-content: center;
  align-items: center;

  .dots {
    border-radius: 100%;
    height: 14px;
    width: 14px;
    background: var(--white-cl);
    opacity: 0.4;
    display: block;

    &.--active {
      opacity: 1;
    }
  }
}

.posts__container {
  @include xs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.posts__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;

  @include xs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.post {
  border-radius: var(--infobox-border);
  overflow: hidden;

  .postThumbnail {
    position: relative;
    width: 100%;
    object-fit: cover;
    @include transistion;
  }

  .postthumbnail {
    position: relative;
  }



  &:hover {

    @include transistion;

    .postThumbnail {
      transform: scale(1.2);
    }

    .--posttitle {
      opacity: 0.6;
    }
  }

  .tag__container {

    @include xs {}

    display: flex;
    position: absolute;
    bottom: calc((var(--tag-height) / 2) * -1);
    padding-left: 24px;
    gap: 9px;
  }

  @include xs {
    .postthumbnail {
      position: relative;
      aspect-ratio: 382/215;
      width: 382px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .tag__container {
      padding-left: 24px;
      position: absolute;
      display: flex;
      gap: 6px;
      bottom: calc((var(--tag-height) / 2) * -1);
    }
  }
}

.--tag {
  background-color: var(--sky-cl);
  height: var(--tag-height);
  @include disflex;
  padding: 0 15px;
  border-radius: 1000px;
  z-index: 3;
}

.--button-opacity {
  background-color: var(--button-cl-opacity);
}

.blur__png {
  position: absolute;
  // transform: translateY(-130%);
  z-index: 1;
  display: none;
  filter: blur(50px);

  @include xs {
    display: initial;
  }
}

.--tab {
  background-color: var(--button-cl-opacity);
  color: var(--white-cl);
  width: fit-content;
  padding: 7px 24px;
  border-radius: 80px;

  &.--active {
    background-color: var(--sky-cl);
  }

  @include xs {
    padding: 11px 0;
  }
}