.header {
  background-color: var(--ocean-cl);
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  z-index: 5;
  background: transparent;
  @include disflex;
  transform: var(--time-duration) b;

  &.bgblue {
    background-color: var(--ocean-cl);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__burger {
      background-color: var(--sky-cl);
      height: 45px;
      width: 45px;
      border-radius: 100%;
      display: none;
      @include transistion;
      z-index: 3;

      .header__burger-line {
        height: 2px;
        background-color: var(--white-cl);
        width: 25px;
        position: relative;

        @include transistion;

        &::after {
          content: "";
          height: 2px;
          background-color: var(--white-cl);
          width: 25px;
          display: block;
          position: absolute;
          @include transistion;
          top: -7px;
        }

        &::before {
          content: "";
          height: 2px;
          background-color: var(--white-cl);
          width: 25px;
          position: absolute;
          @include transistion;
          display: block;
          top: 7px;
        }

        &.--active {
          background-color: transparent;

          &::after {
            top: 0px;
            transform: rotate(45deg);
          }

          &::before {
            top: 0px;
            transform: rotate(-45deg);
          }
        }
      }

      @include sm {
        @include disflex;
      }

      &:hover {
        background: var(--hover-btn);
      }
    }

  }

  &__container {
    @include disflex;

    .header__logo {
      padding-right: 32px;
      z-index: 3;
    }

    .header__menu {
      ul {
        height: 66px;
        border-left: 1px solid #010d50;
        padding-left: 32px;
        gap: 27px;
        display: flex;
        align-items: center;

        li {

          z-index: 1;

          &.--active-menu {
            a {
              text-transform: uppercase;
              color: var(--white-cl);

              &::after {
                background: var(--white-cl);
                height: 1px;
                width: 100%;
                display: block;
                content: '';
              }
            }
          }

          &:hover {
            a {
              text-transform: uppercase;
              color: var(--white-cl);

              &::after {
                background: var(--white-cl);
                height: 1px;
                width: 100%;
                display: block;
                content: '';
              }
            }
          }

          a {
            text-transform: uppercase;
            color: var(--white-cl);
            @include transistion;

            &::after {
              background: var(--white-cl);
              height: 1px;
              width: 0;
              display: block;
              content: '';
              @include transistion;
            }
          }
        }

        .header__button {
          display: block;
          z-index: 3;
          @include disflex;
          width: 300px;

          a {
            text-align: center;
          }
        }

        @include xs {
          flex-direction: column;
          position: absolute;
          border: none;
          height: 100vh;
          width: 100vw;
          left: 0;
          top: 0;
          padding-left: 0px;
          justify-content: center;
          background-color: #010725;
          transform: translateY(-100%);
          gap: 40px;

          li {
            a {
              padding: 20px 0px;
              font-size: var(--fs-textmenu-mb);
              letter-spacing: var(--ls-textmenu-mb);
            }
          }

          img {
            position: absolute;
            z-index: 0;
            width: 100%;
            transform: translateY(-100%);
            @include transistion;
          }

          @include transistion;

          &.--show-menu {
            @include transistion;
            transform: initial;

            img {
              transform: initial;
            }
          }
        }

      }

      @include sm {
        // display: none;
      }
    }
  }

  .header__button {
    padding: 20px 32px;

    @include sm {
      display: none;
    }
  }

  @include sm {
    align-items: center;
    padding-bottom: 1px;
  }
}