.about {
  background-color: var(--ocean-cl);

  .about__main {
    @include xs {
      padding-top: 130px;

      .scabout {


        &__content {

          padding-top: 40px;

          .textbox {

            margin-bottom: 16px;

            .heading {
              max-width: 266px;
            }
          }

          &-wrapper {
            display: grid;
            gap: 16px;
          }
        }
      }

      .scmission {
        padding-top: 40px;
        padding-bottom: 80px;

        &__content {

          .textbox {
            .desc {
              padding-bottom: 40px;
            }
          }
        }
      }

      .sctimeline {

        padding-bottom: 80px;

        &__wrapper {
          display: grid;
          gap: 56px;
          padding-top: 40px;

          &-element {

            display: flex;
            padding-bottom: 40px;
            border-bottom: 1px solid var(--white-cl);

            .circle {
              margin-right: 54px;
              height: 24px;
              width: 24px;
              display: block;
              border-radius: 100%;
              background-color: var(--white-cl);
            }

            .textbox {

              .heading {
                margin-bottom: 12px;
              }

              .desc {
                max-width: 280px;
              }
            }
          }
        }
      }

      .scourteam {

        padding-bottom: 80px;

        &__wrapper {
          padding-top: 24px;
          display: grid;
          gap: 16px;

          &-element {
            border-radius: var(--infobox-border);
            background-color: var(--navi-cl);
            padding: 24px 12px;
            height: fit-content;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }

            .user__info {
              margin-top: 32px;
              width: 100%;
              @include disflex;


              .--author {
                margin-bottom: 12px;
              }
            }
          }
        }
      }

      .scinvestor {
        padding-bottom: 80px;

        .textbox {
          margin-bottom: 48px;
          text-align: center;
        }
      }
    }
  }
}