.scdetail {
  padding-top: 190px;
  background: var(--ocean-cl);
  padding-bottom: 120px;

  .subscribe {
    margin: 130px 0;
  }



  .container {


    .hero__thumbnail {
      grid-column: 1/span 12;
    }

    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: var(--gap);

    .user__info {
      margin-bottom: 14px;
      grid-column: 2 / span 4;

      &-detail {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 5px;

        h4 {
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }
      }
    }



    h2 {
      color: var(--white-cl);
      // margin-bottom: 40px;
      font-size: var(--fs-h2);
      line-height: var(--lh-h2);
      letter-spacing: var(--ls-h2);
      font-family: sb;
    }

    h4 {
      font-family: sb;
      color: var(--white-cl);
      font-size: var(--fs-posth3);
      line-height: var(--lh-post3);
      margin-bottom: 24px;
      letter-spacing: var(--ls-post3);
    }

    p {
      color: var(--white-cl);
      margin-bottom: 16px;
      font-family: sr;
      font-size: var(--fs-b1);
      line-height: var(--lh-b1);
      letter-spacing: var(--ls-b1);
    }

    .textbox {
      max-width: 945px;
      grid-column: 2 / span 9;
    }


    .scdetail__thumbnail {
      grid-column: 1 / span 12;
    }

    .scdetail__content {
      grid-column: 3/ span 8;

    }

    .scdetail__img-content {
      grid-column: 2 / span 10;

      @include md {
        width: 100%;
        // grid-column: initial;
      }
    }

    .scdetail__quote {
      grid-column: 1 /span 12;
      padding: 80px;
      @include disflex;
      background-color: var(--navi-cl);
      border-radius: var(--infobox-border);
      margin: 24px 24px;

      p {
        font-size: var(--fs-quote);
        line-height: var(--lh-qoute);
        max-width: 613px;
      }


      @include xxs {
        margin: 20px 0;
        padding: 32px;
      }
    }



    @include xs {
      display: block;
    }
  }

  .scdetail__posts {
    .textbox {
      grid-column: 1/ span 12;
      display: flex;
      flex-direction: column;

      &.--title {
        max-width: initial;
        @include disbet;

        @include xs {
          flex-direction: column;
          margin-bottom: 16px;
        }
      }
    }

    .posts__container {
      grid-column: 1 / span 12;
    }
  }

  @include xs {
    padding-top: 110px;
    padding-bottom: 80px;

    .container {
      .textbox {
        grid-column: initial;
      }

      .scdetail__thumbnail {
        grid-column: initial;
      }

      .scdetail__content {
        grid-column: initial;
      }
    }
  }
}