.pricing {
  background: var(--ocean-cl);

  .main {
    padding-top: 170px;
    padding-bottom: 225px;

    .scpricing {

      .container {

        .title {
          text-align: center;
          @include disflex;
          flex-direction: column;
          margin-bottom: 40px;

          .desc {
            max-width: 568px;
          }
        }

        .scpricing__icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 56px;

          &-element {
            display: flex;
            align-items: center;
            gap: 24px;
          }
        }

        .scpricing__pricings {

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 26px;

          &-element {
            background-color: var(--navi-cl);
            padding: 48px 30px 42px 30px;
            border-radius: var(--infobox-border);

            .textbox {
              margin-bottom: 40px;

              .desc {
                @include md {
                  max-width: 312px;
                }
              }

              .--tag {
                margin-bottom: 16px;
              }

              .heading {
                margin-bottom: 16px;
              }
            }

            .features {
              .heading {
                margin-bottom: 16px;
              }

              ul {

                margin-bottom: 50px;

                li {
                  padding-left: 22px;
                  position: relative;
                  margin-bottom: 16px;

                  &::before {
                    content: '';
                    display: block;
                    height: 10px;
                    width: 10px;
                    @include centerAbs;
                    left: 4px;
                    border-radius: 100%;
                    background-color: var(--sky-cl);
                  }
                }
              }
            }
          }



          @include xs {
            grid-template-columns: 1fr;
            gap: 16px;
          }
        }
      }
    }

    @include xs {
      padding-top: 120px;
      padding-bottom: 80px;

      .scpricing {

        .container {
          .title {
            text-align: initial;
            align-items: start;

            .desc {
              max-width: 320px;
            }
          }

          .textbox {
            margin-bottom: 40px;
          }

          .scpricing__icons {
            flex-direction: column;
            gap: 38px;
            margin-bottom: 48px;
            align-items: initial;

            &-element {

              justify-content: start;
              gap: 18px;
            }
          }



        }
      }
    }
  }
}